body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
}

.value {
    font-size: 40px;
    margin: 20px;
}